<% if admin_signed_in? and current_admin.active?%>
  <h1 class="mt-4">Página Inicial</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
  </ol>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-light mb-4">
        <div class="card-body">Transações pendentes: <%= @client_transactions_count %></div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-light mb-4">
        <div class="card-body">Administradores pendentes: <%= @admin_count %></div>
      </div>
    </div>
  </div>
<% end %>