.breadcrumb-menu {
  background-color: rgb(234, 234, 234);
  padding: 0.4% !important;
  margin-top: 2%;
}

.page-title {
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-footer-buttons-group {
  display: flex;
}

.card-footer-buttons {
  margin-right: 1%;
}

/* align */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* login */
.bg_login {
  background: url('bg_login.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}