body {
  font-size: 1.1em;
  line-height: 1em;
}

a {
  text-decoration: none;
}

/* buttons */
.button-form-group {
  display: flex;
}

a:hover {
  background-color: azure;
}

.button {
  background: none;
  border: none;
  padding: 1;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.button-status {
  text-decoration: none;
}

.button-status:hover {
  background-color: azure;
}

/* nav */
.nav-description {
  margin-top: 2%;
  vertical-align: middle;
  color: #ccc;
}
